/*<!--//Use SASS to write your CSS
//SASS files are:
//
//main.scss
//which will import:
//
//normalize.scss
//variables.scss
//mixins.scss		
//sticky-footer.scss
//
//You may divide your sass into addition files as you wish.
//Eg: 
//- grid.scss
//- buttons.scss-->*/
.wrapper {
  overflow: auto;
  background-color: rgba(255, 150, 190, 0.8); }

.box p {
  margin: 0 4% 4% 4%;
  top: -100px;
  text-align: left; }

.masthead {
  width: 100%;
  background-color: #404040;
  text-align: center;
  color: #dddddd;
  padding-bottom: 2px;
  padding-top: 2px;
  font-family: 'Lobster', cursive;
  box-shadow: 0 0 5px #fff; }

.row {
  float: left;
  display: flex;
  margin-right: 2%; }

#box1 {
  font-family: 'Lobster', cursive;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 2%;
  background-color: rgba(160, 55, 100, 0.7);
  width: 30%;
  float: left;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: pointer; }

#box2 {
  font-family: 'Lobster', cursive;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 2%;
  background-color: rgba(160, 55, 100, 0.7);
  width: 30%;
  float: left;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 2px #e6e6e6;
  cursor: pointer; }

#box3 {
  font-family: 'Lobster', cursive;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  padding-top: 2%;
  background-color: rgba(160, 55, 100, 0.7);
  width: 30%;
  float: left;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 2px #e6e6e6;
  cursor: pointer; }

#box4 {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  background-color: rgba(100, 55, 150, 0.1);
  width: 23%;
  margin-bottom: 2%;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  font-family: 'Lobster', cursive;
  border: 5px solid #fff; }

#box5 {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  background-color: rgba(100, 55, 150, 0.1);
  width: 23%;
  margin-bottom: 2%;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  font-family: 'Lobster', cursive;
  border: 5px solid #fff; }

#box6 {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  flex: 1;
  margin-left: 3%;
  margin-top: 3%;
  background-color: rgba(100, 55, 150, 0.1);
  width: 23%;
  margin-bottom: 2%;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  font-family: 'Lobster', cursive;
  border: 5px solid #fff; }

#box7 {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -ms-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  margin-left: 3%;
  margin-top: 3%;
  background-color: rgba(100, 55, 150, 0.1);
  flex: 1;
  width: 23%;
  margin-bottom: 2%;
  border-radius: 5px;
  color: #484848;
  text-align: center;
  font-family: 'Lobster', cursive;
  border: 5px solid #fff; }

.fade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.fadeTrigger:hover .fade {
  opacity: 1; }

.swing {
  -webkit-animation: swinging 10s ease-in-out 0s infinite;
  -moz-animation: swinging 10s ease-in-out 0s infinite;
  animation: swinging 10s ease-in-out 0s infinite;
  -webkit-transform-origin: 30% 0;
  -moz-transform-origin: 30% 0;
  transform-origin: 50% 0; }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0); }
  20% {
    -webkit-transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(-10deg); }
  60% {
    -webkit-transform: rotate(10deg); }
  80% {
    -webkit-transform: rotate(-10); }
  100% {
    -webkit-transform: rotate(0); } }
@-moz-keyframes swinging {
  0% {
    -moz-transform: rotate(0); }
  20% {
    -moz-transform: rotate(10deg); }
  40% {
    -moz-transform: rotate(-10deg); }
  60% {
    -moz-transform: rotate(10deg); }
  80% {
    -moz-transform: rotate(-10); }
  100% {
    -moz-transform: rotate(0); } }
@keyframes swinging {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(10deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0); } }
.col-3:hover > .iconic {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation: swinging 0.5s normal forwards;
  -moz-animation: swinging 0.5s normal forwards;
  -o-animation: swinging 0.5s normal forwards;
  -webkit-animation: swinging 1s ease-in-out 0s infinite;
  -moz-animation: swinging 1s ease-in-out 0s infinite;
  animation: swinging 1s ease-in-out 0s infinite;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0; }

.col-3 p {
  position: relative;
  color: #fff;
  opacity: 0;
  padding-top: 2.5%;
  font-size: 14px;
  transition: all 0.4s linear;
  transform: translateY(100px);
  text-align: center; }

/******* responsive design *******/
@media screen and (min-width: 400px) {
  .wrapper .col-3 {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    height: auto; }
  .wrapper .col-4 {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    height: auto; } }
@media screen and (min-width: 599px) and (max-width: 959px) {
  .wrapper .col-3 {
    margin-left: 2%;
    width: 32%;
    float: left; } }
@media screen and (min-width: 959px) {
  .wrapper {
    max-width: 960px; } }
@media screen and (min-width: 960px) {
  .wrapper {
    max-width: 100%; } }
/* === sticky footer === */
/* ====== sticky footer ==== */
html {
  position: relative;
  min-height: 100%; }

.wrapper {
  margin: 0 0 50px; }

.foot {
  position: absolute;
  left: 0;
  bottom: 0.1px;
  width: 100%;
  height: 75px;
  background-color: #404040;
  color: #ffffff;
  font-family: 'Lobster', cursive;
  border-top: 1px solid #eee; }

/* === normalize style === */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
