/*<!--//Use SASS to write your CSS
//SASS files are:
//
//main.scss
//which will import:
//
//normalize.scss
//variables.scss
//mixins.scss		
//sticky-footer.scss
//
//You may divide your sass into addition files as you wish.
//Eg: 
//- grid.scss
//- buttons.scss-->*/

@import 'mixins';
@import 'variables';

.wrapper
{
	overflow:auto;
	background-color: rgba(300,150,190,0.8); // #dfbf5c  ;
}


.box p
{
	margin:0 4% 4% 4%;
	text-align: left;
}

.masthead
{
	width: 100%;
	background-color: #404040 ;
	text-align: center;
	color: #dddddd  ;
	padding-bottom: 2px;
	padding-top: 2px;
	@include fonts;
	box-shadow: 0 0 5px #fff;
}

.row
{
	float: left;
	display: flex;
	margin-right: 2%;
}

#box1
{
    @include fonts;
	@include elementEaseInOut(background);
	flex: 1;
	@include margin_total;
	padding-top: 2%;
	background-color: rgba(160,55,100,0.7);
	width: $width_box1;
	float: left;
	border-radius: 5px;

	color: #484848 ;
	text-align: center;
	
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: pointer;
	

}

#box2
{   
    @include fonts;
	@include elementEaseInOut(background);
	flex: 1;
	@include margin_total;
	padding-top: 2%;
	background-color: rgba(160,55,100,0.7); 
	width: $width_box2;
	float: left;
	border-radius: 5px;

	color: #484848 ;
	text-align: center;

    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 2px #e6e6e6;
    cursor: pointer;
	
	
}      

#box3
{
    @include fonts;
	@include elementEaseInOut(background);
	flex: 1;
	@include margin_total;
	padding-top: 2%;
	background-color: rgba(160,55,100,0.7);
	width: $width_box3;
	float: left;
	border-radius: 5px;

	color: #484848 ;
	text-align: center;

    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 2px #e6e6e6;
    cursor: pointer;
		
	
}


#box4
{	
	@include elementEaseInOut(background);
	flex: 1;	
	@include margin_total;
	background-color: rgba(60,155,102,0.7); //5f98c6; 
	
	width: $width_box4;

	margin-bottom: 2%;
	border-radius: 5px;
	color: #484848 ;
	text-align: center;
	@include fonts;
	border: 5px solid #fff;

}

#box5
{
     	
	@include elementEaseInOut(background);
    flex: 1;	
	@include margin_total;
	background-color: rgba(60,155,102,0.7); //5f98c6; 
	
	width: $width_box5;

	margin-bottom: 2%;
	border-radius: 5px;
	color: #484848 ;
	text-align: center;
	@include fonts;
	border: 5px solid #fff;

}

#box6
{
	@include elementEaseInOut(background);
	flex: 1;	
	@include margin_total;
	background-color: rgba(60,155,102,0.7); //5f98c6; 
	
	width: $width_box6;

	margin-bottom: 2%;
	border-radius: 5px;
	color: #484848 ;
	text-align: center;
	@include fonts;
	border: 5px solid #fff;

}

#box7
{
	@include elementEaseInOut(background);
	@include margin_total;
    
	background-color: rgba(60,155,102,0.7); //5f98c6; 
	
	flex: 1;
    
	width: $width_box7;

	margin-bottom: 2%;
	border-radius: 5px;
	color: #484848 ;
	text-align: center;
	@include fonts;
	border: 5px solid #fff;
	

}


.swing{
	-webkit-animation:swinging 10s ease-in-out 0s infinite;
	-moz-animation:swinging 10s ease-in-out 0s infinite;
	animation:swinging 10s ease-in-out 0s infinite;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	transform-origin:50% 0;
}

@-webkit-keyframes swinging{
	0% { -webkit-transform: rotate(0); }
	20% { -webkit-transform: rotate(10deg); }
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(10deg); }
	80% { -webkit-transform: rotate(-10); } 
	100% { -webkit-transform: rotate(0); }
}

@-moz-keyframes swinging{
	
	0% { -moz-transform: rotate(0); }
	20% { -moz-transform: rotate(7deg); }
	40% { -moz-transform: rotate(-5deg); }
	60% { -moz-transform: rotate(3deg); }
	80% { -moz-transform: rotate(-1); } 
	100% { -moz-transform: rotate(0); }
}

@keyframes swinging{

	0% { transform: rotate(0); }
	20% { transform: rotate(7deg); }
	40% { transform: rotate(-5deg); }
	60% { transform: rotate(3deg); }
	80% { transform: rotate(-1); } 
	100% { transform: rotate(0); }
}

.col-3:hover > .iconic
{

	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
	
	-webkit-animation:swinging 1s ease-in-out 0s infinite;
	-moz-animation:swinging 1s ease-in-out 0s infinite;
	animation:swinging 1s ease-in-out 0s infinite;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	transform-origin:50% 0;

	-webkit-animation: swinging 0.5s normal forwards; 
  	-moz-animation:  swinging 0.5s normal forwards;
  	-o-animation:  swinging 0.5s normal forwards;
}

.col-3 p {
  
    font-size: 14px;
    position: relative;
    color: #fff;

	padding-top: 2.5%;
    text-align: center;
	
	transform: translateY(100px);
    opacity: 0;
    transition: all 0.4s linear;
}



/******** responsive layout *******/

@media screen and (min-width: $mobile_1){
  .wrapper{
    max-width: $mobile_1;
    margin: 0 auto;
  }
}

@media screen and (min-width: $mobile_2){
  .wrapper{
    max-width: $mobile_2;
  }
}

@media screen and (min-width: $mobile_3){
  .wrapper{
    max-width: $mobile_2;
  }
}

@media screen and (min-width: $mobile_4){
  .wrapper{
    max-width: $mobile_2;
  }
}

/* =========== sticky footer =========== */

@import 'sticky-footer';

/* =========== normalize style =========== */

@import 'normalize';