//@import 'variables'

@mixin margin_total() {
	 margin-left: $margin_1;
	 margin-top: $margin_1;
	
	}

@mixin fonts {
	font-family: 'Lobster', cursive;
	}





@mixin elementEaseInOut($target) {
	-webkit-transition: $target 0.25s ease-in-out;
	-moz-transition: $target 0.25s ease-in-out;
	-ms-transition: $target 0.25s ease-in-out;
	-o-transition: $target 0.25s ease-in-out;
	transition: $target 0.25s ease-in-out;
}


 