//Responsive screens
<!--//Responsive screens-->
$mobile_1: 300px;
$mobile_2: 600px;
$mobile_3: 800px;
$mobile_4: 960px;

<!--//$wrapper-universal-margin:0%;-->
$width_wrapper:100%;

$margin_1: 3%;

$width_header:96%;

$width_box1:30%;
$width_box2:30%;
$width_box3:30%;

$width_box4:23%;
$width_box5:23%;
$width_box6:23%;
$width_box7:23%;
